

<p>Food Level: @Model.Food</p>

<p>Rest Level: @Model.Sleep</p>
<p>Attention Level: @Model.Attention</p>

<p>What would you like to do with @Model.Name ?</p>

<a href="/pets/@Model.Id/play">Feed the beast</a>
<p>--------------------------------------------------</p>
<a href="/pets/@Model.Id/sleep">Play</a>
<p>--------------------------------------------------</p>
<a href="/pets/@Model.Id/attention">Love</a>







