<h1>Job Board Details</h1>
<h2>Job Title: @Model.Title</h2>
<p>Interested? Send resume and references (no cover letter needed, because they SUCK), to: @Model.Email</p>

<a href='/jobs/new'>Add another job</a>
<a href='/jobs'>View all jobs</a>